
.card {
    position: relative; 
    height: 500px; 
    width: 350px; 
    margin: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid white; 
    border-radius: 8px; 
    overflow: hidden; 
    cursor: pointer; 
    background-color: white;
}

.card img {
    width: 290px; 
    height: 300px; 
    object-fit: cover; 
    border-bottom: 3px solid rgba(128, 128, 128, 0.2); 
    border-radius: 8px;
}

.card-title {
    font-family: 'Grange';
    color: rgba(28, 38, 53, 1);
    margin: 0;
    font-size: 24px; 
    padding: 5px 0; 
    text-align: center;
}

.card-price {
    font-family: 'Grange';
    color: rgba(28, 38, 53, 1);
    font-size: 18px; 
    color: #000; 
    padding: 5px 0;
    text-align: center; 
}

/* Slider Styles */
.slider-container {
    text-align: center;
    padding: 20px;
}

.slider-button {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 30%;
    left: 90%;
    border-radius: 30px;
    color: rgba(28, 38, 53, 1);
    background-color: rgba(238, 247, 251, 1);
    border: 0.16px solid rgba(238, 247, 251, 1);
    outline: none; 
    cursor: pointer;
    font-size: 32px;
}

.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(28, 38, 53, 0.5); 
    margin: 0 5px;
    cursor: pointer;
}

.active-dot {
    background-color: rgba(28, 38, 53, 1); 
}


.text-only-container {
    background-color: rgba(238, 247, 251, 1);
    font-size: 20.4px; 
    color: #1C2635; 
    padding: 16px; 
    text-align: left;
    padding: 40px 50px 2px 30px; 
    height: 100%;

}

.card-text-only-title {
    font-family: 'Grange';
    font-weight: 600;
    color: rgba(28, 38, 53, 1);
    margin: 0;
    font-size: 24px; 
    padding: 5px 9px 5px 9px; 
    text-align: center; 
}
.card-description {
    font-family: 'Proxima Nova'; 
    font-weight: 400;
    color: rgba(28, 38, 53, 1);
    margin: 0;
    font-size: 16px; 
    text-align: left; 
    width: 100%; 
    
}


/* Card Styles */
.card {
    height: 500px; 
    width: 350px; 
    margin: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid white; 
    border-radius: 8px; 
    overflow: hidden; 
    cursor: pointer; 
    background-color: white;
}

/* Media Query for Small Screens */
@media (max-width: 568px) {
    .card {
        width: 90%;
        height: auto; 
    }
}
.favorite-icon {
    position: absolute;
    top: 10px; 
    right: 10px; 
    cursor: pointer;
    color: rgba(28, 38, 53, 1);
    transition: color 0.3s ease;
    z-index: 2; 
}

.favorite-icon .favorite {
    color:rgba(28, 38, 53, 1); 
}



