/* QuizPage.css */

.container {
    width: 55%;
    height: 30%;
    opacity: 1;
   margin-top: 352px;
   margin-left: 256px;
}

.text-container {
    width: 100%;
    opacity: 1;
}

.question {
    width: 85%;
    font-family: 'Grange-Light';
    font-weight: 100;
    font-size: 44px;
    text-align: center;
    color: #1C2635;
    margin: 15% 5% 2% 10%;
}

.answer-container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin: 20px 0px 10px 40px;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    gap: 5px;
}

.answer-style {
    display: inline-block; 
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 200;
    line-height: 14px;
    text-align: left;
    padding: 10px 20px 10px 5px;
    border-radius: 8px;
    border: 1px solid #5BC1ED;
    cursor: pointer;
    color: #1C2635;
   
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 2% 15% 2% 40%;
    width: 30%;
}

.next-button {
    padding: 10px 20px 10px 10px;
    border-radius: 8px;
    border: 1px solid #C3EDFF;
    background-color: #C3EDFF;
    cursor: pointer;
    color: #1C2635;
    font-size: 16px;
    flex: 1; 
    margin: 0 3px 0 4px; 
    white-space: nowrap; 
}

.back-button {
    padding: 10px 20px 10px 10px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
    color: #677487;
    font-size: 16px;
    flex: 1; 
    margin: 0px -10px; 
    text-decoration: underline;
}

.progress-container {
    margin-top: -220px;
    margin-left: 927px;
}
@media (max-width: 600px) {
    .container {
        width: 90%; 
        margin: 30% auto; 
    }

    .question {
        font-size: 22px; 
        margin: 10% 0; 
    }

    .answer-container {
        flex-direction: column; 
        align-items: center;
        margin: 10px 0;
    }

    .answer-style {
        width: 100%; 
        font-size: 12px; 
        padding: 8px; 
        margin: 5px 0; 
    }

    .next-button,
    .back-button {
        font-size: 14px; 
        padding: 8px; 
    }

    .button-container {
        width: 60%; 
        margin-left: 20%;
    }
    .progress-container {
        margin: 10% 20% 30% 20% ;
        height: 100%; 
        width: 50%; 
        border-radius: 4px; 
        transition: width 0.3s ease; 
    
     
     
    }
}