/* ResultsPage.css */

.results-background {
    position: absolute;
    width: 100%;
    height: 72%;
    left: 0;
    top: 0;
    background: url('../images/result-page-background.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.results-overlay {
    position: absolute;
    width: 100%;
    height: 72%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 0; /* Ensures overlay is on top of the image */
}

.text-container {
    position: relative; /* Change to relative to allow positioning for absolute children */
    width: 100%;
    max-width: 100%;
    margin: 8% auto; /* Center the text container */
    z-index: 2; /* Ensures text is above the overlay */
}

.first-text {
    font-family: 'Grange-Light';
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
    margin: -3% 2% 0% 2%; /* Set margin to 0 to remove extra space */
}

.second-text {
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    line-height: 24px;
    margin: 1% 5% -3% 6%; /* Set margin to 0 to remove extra space */
}

.button-style {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 40px;
    width: 238px;
    height: 47px;
    background: transparent; /* Make background transparent */
    border: 1px solid white; /* Set border to white */
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer; /* Change cursor to pointer on hover */
    margin: 5% 0% 0% 40%; /* Set margin to 0 to remove extra space */
}
.card-container {
    position: absolute; /* Use absolute positioning for overlap */
    top: 55%; /* Position below the text container (adjust as needed) */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center adjustment */
    width: 100%; /* Full width */
    z-index: 1; /* Ensures CardSlider is above the overlay */
}

/* Responsive Styles */
@media (max-width: 628px) {
   
    .text-container {
        top: 20%; /* Adjust position */
        width: 90%; /* Allow more width on smaller screens */
        z-index: 2; /* Keep text above the overlay */
    }

    .card-container {
        top: 80%; /* Position the card slider over the text */
        transform: translate(-50%, -50%); /* Center it vertically and horizontally */
        margin: 0; /* Remove any margin */
    }

    .first-text {
        font-size: 1.8rem; /* Adjust font size for smaller screens */
    }

    .second-text {
        font-size: 0.75rem; /* Adjust font size for smaller screens */
    }

    .button-style {
        margin-left: 30%;
        margin-top: 15%;
        width: 40%; /* Use full width on small screens */
    }
}